body {
	background-color:lightsteelblue;
	font-family: verdana, geneva, sans-serif;
}
.frame{
	width: 225px;
	background:blue;
	border-radius: 20px;
	padding: 20px;; 
} 

h1{
	color: orange;
	line-height: 1.3;
container{
	width:75%;
	margin:auto;
}

}
.box-1{
	background-color:purple;
	color:wheat;
	border:10px yellowgreen solid;
	padding: 25px;
	border-radius: 20px;
}
.box-2{
	border: 4px yellowgreen solid;
	border-radius: 20px;
}
.box-2 h3{
	text-align: center;
}
.box-2 ul{
	list-style:circle;
	

}